/* General */

#container {
	display: flex;
	flex-direction: column;
	height: 35vh;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

body, .button{
	font-family: FreeMono, monospace;
	font-size: x-large;
	background: #262626;
	color: white;
}

.button:hover{
	cursor: pointer;
}

.active {
	color: #262626;
	background: white;
}

.button, #password {
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px;
}



/* Selectors */

#selector-numbers, #selector-type, #results {
	display: flex;
	justify-content: space-between;
	width: 450px;
}

#generate {
	width: 30%;
	font-weight: bold;
}

#generate:active {
	font-weight: bolder;
	color: #262626;
	background: white;
}

#password {
	width: 60%;
	text-align: center;
}



/*Media Queries*/

@media (max-width: 450px) {

	body, .button {
		font-size: medium;
	}

	.button, #password {
		padding: 7px;
	}
	
	#selector-numbers, #selector-type, #results {
		width: 300px;
	}
}

@media (max-width: 300px) {

	#container {
		align-items: flex-start;
	}

	body, .button {
		font-size: small;
	}

	#selector-numbers, #selector-type, #results {
		justify-content: initial;
	}

	.button, #password {
		padding: 5px;
	}

	#password {
		width: 110px;
	}
}